AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_RESOURCE_GROUP=inventoryops-rg
AZURE_LOCATION=eastus
ACR_NAME=
ACR_LOGIN_SERVER=
ACR_REPOSITORY=inventoryops
IMAGE_TAG=latest
